* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Barlow,Open Sans,Lucida Grande,Helvetica 
    Neue,Helvetica,Arial,Sans-serif;
}
li {
    display: list-item;
    margin-bottom: 5px;
}
ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 5px;
}
div {
    display: block;
}
h1 {
    font-weight: 700;
    color: #fff;
}

.app {
    display: grid;
    grid-template-rows: 58px 1fr min-content;
    height: 100vh;
}

.header {
    height: 60px;
    background: #000;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search_form{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.h2_popular_musicians{
    text-align: center;
}

.intro_popular{
    margin-top: 6px;
    text-align: center;
}

.footer {
    padding-top: 48px;
    background: #111;
    color: #fff;
    margin-top: 0;
}
.player-bar-artwork {
    background-image: url(../src/pictures/player_default.png);
    height: 100%;
}
.lastfm_logo {
    /* background-image: url(../src/pictures/lastfm_logo.png);
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: absolute;
    /* left: 50%; */
    right: 45%;
}
.right_nav {
    display: flex;
    float: right;
    /* height: 100%; */
    padding-right: 30px;

}

.h2_popular_musicians{
    margin-top: 20px;
    
}
.round_musicians_list {
    display: flex;
    justify-content: center;
    margin: 20px 250px 50px 250px;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 40px;
    
}

.round{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular{
    border-radius: 50%;
    height: 120px;
}

.genre{
    font-size: 16px;
    color: #666;
    width:  fit-content;
}
.right_nav_bar {
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;

}
.link {
    color: inherit;
    text-decoration: none;
    opacity: .85;
}
.link:hover {
    color: #fff
}
.footer-top {
    padding-bottom: 48px;
    position: relative;
}
.container {
    align-self: center;
    padding-left: 40px;
    padding-right: 40px;
}
.footer-top-row {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin-left: -10px;
}
.footer-top-col {
    margin-top: 0;
    padding-left: 30px;
    /* position: relative; */
    display: inline-block;
}

.footer-heading {
    color: #666;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.footer-links {
    margin-top: 0;
}
.link_footer {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.link_footer:hover {
    text-decoration: underline;
    color: #fff;
}
.header-background {
    background-image: url(../src/pictures/dashboard_header.jpg);
    background-position: 100%;
    background-size: cover;
}
.header-info {
    line-height: 30px;
    padding-left: 50px;
}
.billboard-title {
    font-size: 22px;
}
.header-billboard {
    padding-top: 42px;
}
.dashboard-intro {
    font-size: 16px;
    margin-top: 18px;
    color: #fff;
}
.dashboard-intro-2 {
    font-size: 16px;
    color: #fff;
}

.footer-bottom{
    padding-bottom: 48px;
    border-top: 1px solid #222;
}

.footer-bottom-container{
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    margin-left: -10px;
    margin-right: -10px;
}

.footer-language-selector{
    width: 720px;
}

.language-selector{
    margin-top: 15px;
    display: inline-flex;
}
.language-li{
    display: inline;
    color: #666;
    margin-right: 10px;
}
.footer-timezone{
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
.footer-timezone strong {
    color: #fff;
}
.footer-legal{
    color: #666;
    font-size: 12px;
    line-height: 18px;
    margin-top: 12px;
}
.footer-legal-item{
    display: inline-block;
}
.scrobbler{
    margin-top: -60px;
    text-align: right;
    font-size: 12px;
    margin-right: 40px;
}